%h3
  = @user.email

  = link_to "Edit settings", "/users/edit"

%h3 Likes

#links
  - @likes.each do |like|
    - if like.present?
      .link
        %a{href: "//#{like.url}", target: "_blank", style: "background: #{like.color}"}
          %h3= like.name

        .info
          - if like.desc.present?
            %p= like.desc

          .stats
            %h5
              = fa_icon "link"
              = like.url

            %h5
              = fa_icon "thumbs-up"
              = like.votes_for.size

          - if like.discip.present?
            %h5
              = fa_icon "pencil"
              = like.discip

          - if like.kind.present?
            %h5
              = fa_icon "cogs"
              = like.kind

          .ctrl
            - if like.user_id = current_user.id
              = link_to "Edit", "links/#{like.slug}/edit"

%h3 Submitted

#links
  - @submits.each do |submit|
    .link
      %a{href: "//#{submit.url}", target: "_blank", style: "background: #{submit.color}"}
        %h3= submit.name

      .info
        - if submit.desc.present?
          %p= submit.desc

        .stats
          %h5
            %a{"data-method" => "put", :href => like_link_path(submit), :rel => "nofollow"}
              = fa_icon "thumbs-up"
              = submit.votes_for.size

          %h5
            = fa_icon "link"
            = submit.url

          - if submit.discip.present?
            %h5
              = fa_icon "pencil"
              = submit.discip

          - if submit.kind.present?
            %h5
              = fa_icon "cogs"
              = submit.kind

        .ctrl
          = link_to "Edit", "#{submit.slug}/edit"
