= form_for(@link) do |f|
  - if @link.errors.any?
    #error_explanation
      %h2
        = pluralize(@link.errors.count, "error")
        prohibited this link from being saved:
      %ul
        - @link.errors.full_messages.each do |message|
          %li= message
  
  #link_form
    .field
      = f.label :title
      = f.text_field :title

    .field
      = f.label :url, 'URL'
      = f.text_field :url

    .field#color
      = f.label :color, 'CSS Color', :placeholder => 'hex'
      = f.text_field :color

      #color_box

    .field
      = f.label :desc, 'Description', :placeholder => 'General justification of the website and how it works'
      = f.text_field :desc

    .actions
      = f.submit
