#links
  - @links.each do |link|
    .link
      %a{href: link.url, target: "_blank", style: "background: #{link.color}"}
        %h3= link.title
        
      .info
        -# = link_to "Like", like_link_path(link), method: :put
        %h5= link.votes_for.size
        %h5= link.url
        - unless link.desc.nil?
          %p= link.desc
