#links
  - @links.each do |link|
    .link
      %a{href: "//#{link.url}", target: "_blank", style: "background: #{link.color}"}
        %h3= link.name
        
      .info
        - if link.desc.present?
          %p= link.desc

        .stats
          %h5
            = fa_icon "link"
            = link.url

          %h5
            %a{"data-method" => "put", :href => like_link_path(link), :rel => "nofollow"}
              = fa_icon "thumbs-up"
              = link.votes_for.size

          - if link.discip.present?
            %h5
              = fa_icon "pencil"
              = link.discip

          - if link.kind.present?
            %h5
              = fa_icon "cogs"
              = link.kind

          - if user_signed_in?
            .ctrl
              - if link.user_id = current_user.id
                = link_to "Edit", edit_link_path(link)
