#links
  - @links.each do |link|
    .link
      %a{href: "//#{link.url}", target: "_blank", style: "background: #{link.color}"}
        %h3= link.title
        
      .info
        - unless link.desc.nil?
          %p= link.desc

        %div
          %a= link.url

        .like
          = link_to "Like (#{link.votes_for.size})", like_link_path(link), method: :put

        .ctrl
          - if user_signed_in?
            - if link.user_id = current_user.id
              = link_to current_user.email, "account"
              = link_to "Edit", "links/#{link.slug}/edit"
